.lead__image {
  padding: 0;
  margin: 0 auto;
  display: block;
  object-fit: cover;
  margin-top: 64px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .lead__image {
    margin-top: 56px;
  }
}


@media screen and (max-width: 320px) {
  .lead__image {
    margin-top: 40px;
  }
}

