.cover__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  background: #2A2C2F;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.cover__background:hover {
  background: #2A2C2F;
  opacity: 0.3;
}



@media screen and (min-width: 1280px) {
  .cover__background {
    height: 100%;
  }
}
