.place {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 460px auto;
  grid-template-areas:
  "title website"
  "image paragraphs";
  gap: 48px 40px;
  margin-bottom: 80px;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
    grid-template-columns: 440px auto;
  }
}

@media screen and (max-width: 850px) {
  .place {
    grid-template-columns: 340px auto;
  }
}

@media screen and (max-width: 676px)  {
  .place {
    margin: 0;
    padding: 0;
    grid-template-columns: auto;
    grid-template-areas:
    "title"
    "website"
    "image"
    "paragraphs";
    gap: 32px;
    margin-bottom: 50px;
  }
}
